.row.colored
  .col-md-12
    %section.smiles.bottom{style: 'background: #FAF2E9; border-radius: 8px; padding: 16px; margin-bottom: 24px;'}
      - imgstyle = 'max-width: 200px; width: 80%; border-radius: 4px;'
      %a{href: '/smiles/', rel: 'nofollow'}
        %div{ :class => 'h2-seo-crutch', :style => 'margin:0; color: black;' } Улыбки наших получателей
        - arr_smiles = Smile.where(sidebar: true).pluck(:id)
        - range = arr_smiles.size
        - if(range >= 3)
          - a = rand(range)
          - b = rand(range)
          - c = rand(range)
          - tst = lambda do |a, b, range|
            - if    a==b && a != range-1; b += 1; tst.call(a, b, range)
            - elsif a==b && a == range-1; b -= 1; tst.call(a, b, range)
            - else; return b
          - b = tst.call(a, b, range)
          - c = tst.call(b, c, range)
          - a = arr_smiles[a]
          - b = arr_smiles[b]
          - c = arr_smiles[c]
        - elsif(range >= 2)
          - a = arr_smiles[0]
          - b = arr_smiles[1]
          - c = Smile.last.id
        - else
          - a = Smile.first.id
          - b = Smile.last.id
          - c = Smile.last.id
        .col-md-3.col-sm-4.col-xs-6{ style: "padding:0" }
          - @post = Smile.find_by_id(a)
          - if @post
            - link = File.join('/smiles/', @post.slug.present? ?  @post.slug.to_s : @post.id.to_s)
            %a{href: link, rel: 'nofollow'}
              - image_path = get_smile_image_path(@post)
              - if image_path
                %br
                %img{ src: image_path, style: imgstyle, alt: @post.alt, loading: "lazy" }
              - else
                .smile-no-image-haml{ style: imgstyle + '; display: flex; align-items: center; justify-content: center; background: #f5f5f5; color: #666; font-size: 14px;' }
                  📝 Отзыв
        .col-md-3.col-sm-4.col-xs-6{ style: "padding:0" }
          - @post = Smile.find_by_id(b)
          - if @post
            - link = File.join('/smiles/', @post.slug.present? ?  @post.slug.to_s : @post.id.to_s)
            %a{href: link, rel: 'nofollow'}
              - image_path = get_smile_image_path(@post)
              - if image_path
                %br
                %img{ src: image_path, style: imgstyle, alt: @post.alt, loading: "lazy" }
              - else
                .smile-no-image-haml{ style: imgstyle + '; display: flex; align-items: center; justify-content: center; background: #f5f5f5; color: #666; font-size: 14px;' }
                  📝 Отзыв
        .col-md-3.col-sm-4.hidden-xs{ style: "padding:0" }
          - @post = Smile.find_by_id(c)
          - if @post
            - link = File.join('/smiles/', @post.slug.present? ?  @post.slug.to_s : @post.id.to_s)
            %a{href: link, rel: 'nofollow'}
              - image_path = get_smile_image_path(@post)
              - if image_path
                %br
                %img{ src: image_path, style: imgstyle, alt: @post.alt, loading: "lazy" }
              - else
                .smile-no-image-haml{ style: imgstyle + '; display: flex; align-items: center; justify-content: center; background: #f5f5f5; color: #666; font-size: 14px;' }
                  📝 Отзыв
      .row
        .col-md-12
          = link_to 'Показать все'.html_safe, host_url('/smiles/'), rel: 'nofollow'
