<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width,initial-scale=1' name='viewport'>
    <meta content='Улыбки получателей - отзывы счастливых обладательниц букетов' name='description'>
    <title>Яркие букеты и свежие Цветы! Доставка цветов №1 в Мурманск!</title>
    <!-- =javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-sham.min.js' -->
    <!-- =javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js' -->
    <!-- =javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js' -->
    <!-- =javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv-printshiv.min.js' -->
    <!-- =javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js' -->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href="/stylesheets/font-awesome.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" type="text/javascript"></script>
    <!-- /=javascript_include_tag 'jquery-migrate-1.2.1.min' -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/normalize.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/main3.css?v=1.2.5" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/jquery.fancybox.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/tmp.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/javascripts/es6-promise.min.js" type="text/javascript"></script>
    <script src="/javascripts/discounts.js" type="text/javascript"></script>
    <script src="/javascripts/site.js" type="text/javascript"></script>
    <script src="/javascripts/tmp.js" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=latin,cyrillic' rel='stylesheet'>
    <script src="/javascripts/jquery.zoom.min.js" type="text/javascript"></script>
    <script src="/javascripts/ang/angular4.min.js" type="text/javascript"></script>
    <script src="/javascripts/ang/lodash.underscore.min.js" type="text/javascript"></script>
    <script src="/javascripts/ang/restangular.min.js" type="text/javascript"></script>
    <script src="/javascripts/ang/angular-busy.min.js" type="text/javascript"></script>
    <script src="/javascripts/ang/navigator.js" type="text/javascript"></script>
    <script src="/javascripts/ang/catalog.js" type="text/javascript"></script>
    <link href="/stylesheets/angular-busy.css" media="screen" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/smiles.css" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/packery/2.1.1/packery.pkgd.min.js"></script>
    <script type="text/javascript" src="/bower_components/tinymce/tinymce.min.js"></script>

    <!-- :javascript -->
    <!-- (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': -->
    <!-- new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], -->
    <!-- j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= -->
    <!-- 'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); -->
    <!-- })(window,document,'script','dataLayer','GTM-K5GZQ8'); -->
  </head>
  <body ng-app='catalog'>
    <div class='alert'>'/app/views/layouts/catalog.haml'</div>
    <noscript>
      <!-- %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-K5GZQ8", :style => "display:none;visibility:hidden", :width => "0"} -->
    </noscript>
    <!--[if lt IE 7]>
    <p class='chromeframe'>Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">установите актуальную версию</a> или <a href="http://www.google.com/chromeframe/?redirect=true">активируйте Google Chrome Frame</a> для верного отображения сайта.</p>
    <![endif]-->
    <div id='wr' ng-controller='itemsController'>
      <div class='container text-center' style='max-width: 1000px'>
        <%#= render "layouts/parts/_site-header", :handlers => [:haml], layout: false %>
        <%#= render "layouts/parts/_site-menu", :handlers => [:haml], layout: false %>
        <div class='row site_header' style='margin-bottom: 24px;'>
          <div class='col-md-4 col-sm-6 col-xs-12 text-center'>
            <a href='/' style='display: inline-block'>
              <img class='img-responsive' src='/images/logo.png' style='margin-top:20px'>
            </a>
          </div>
          <div class='col-md-5 text-left' style='max-width:341px'>
            <div class='addr'>
              <h1>Заказ и доставка цветов <br>в г. Мурманск</h1>тел.:<span>8 (800) 250-64-70</span> <span2>(бесплатно по России)</span2><br /><br />
            </div>
            <div class='hidden-xs hidden-sm' id='search'>
              <div class='stitle'></div>
              <form action="/search" method="get">
                <input id="query" type="text" name="query"  placeholder="Поиск по сайту">
                <input type="submit" name="search" value="" id="lupe">
              </form>
            </div>
          </div>
          <div class='col-md-3 col-sm-6 col-xs-12 text-left' style='padding-top: 20px'>
            <div id='userarea' style='width:284px'>
              <div class='cartb clearfix'>
                <a class="cartlink" href="/cart">Корзина</a>
                <div class='nums-holder'>
                  <div class='empty'>У Вас пока нет товаров</div>
                </div>
              </div>
              <div class='logged' style='position:relative'>
                <div class='hello-name'>
                  Здравствуйте,<br><em>Евтухов Юрий Андреевич</em>
                </div>
                <ul class='ulinks' style='position:absolute;left:124px;'>
                  <li><a href="/user_accounts/profile">Личный кабинет</a></li>
                  <li><a href="/sessions/destroy">Выход</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class='col-md-12 text-left hidden-lg hidden-md hidden-xs hidden-sm phone_menu' style='max-width:341px;float:right;'>
            <div class='addr'>
              Заказ и доставка цветов <br>в г. Мурмансктел.:<span>8 (800) 250-64-70</span> <span2>(бесплатно по России)</span2><br /><br />
            </div>
            <div id='search'>
              <div class='stitle'></div>
              <form action="/search" method="get">
                <input id="query" type="text" name="query" placeholder="Поиск по сайту">
                <input type="submit" name="search" value="" id="lupe">
              </form>
            </div>
          </div>
        </div>
        <div class='row colored' id='mainnn' style="padding: 24px">
<%
  access = false
  #current_account.methods
  if current_account
    if current_account.id == 171; access = true; end;
  end
%>

<div style="height: 24px"></div>

<% if access %>

<form class="create-post" enctype='multipart/form-data' method="post" action="/smiles/create/">

  <label for="title"><b>Post title:</b></label><br />
  <input id="title" type="text" name="title" value=""><br />

  <label for="date"><b>Date:</b></label><br />
  <input id="date" type="text" name="date" value=""><br />

  <label for="order"><b>Order:</b></label><br />
  <input id="json_order" type="text" name="json_order" value=""><br />
  <small><b>for example:</b> {"0":{"id":"2976","complect":"small"},"1":{"id":"2660","complect":"standard"}}</small><br /><br />

  <label for="content"><b>Post content:</b></label><br />
  <div>
    <textarea class="shadow" id="content" name="content"></textarea><br />
  </div>

  <label for="content"><b>Post image:</b></label><br />
  <input name="image" type="file" accept="image/*"><br />

  <input class="btn" type="submit" name="submit" value="Сохранить">

</form>

<script type="text/javascript">
  tinymce.init({
    selector: '#content'
  }).then(
    res => { $('.mce-branding-powered-by').remove() },
    err => { console.log('errorID74985434') }
  );

  $('.create-post .submit').click(function() {
    $(".create-post").submit();
  });

</script>

<% end %>

        </div>
        <div class='row text-left' id='footer'>
          <div class='col-md-4 copy hidden-xs'>© 2011-<%=Time.now.year %> «Розарио Доставка №1»</div>
          <div class='col-md-8 addr hidden-xs'>
            ОГРН 1115190005699
            <p>тел.: 8 (800) 250-64-70<br>эл. почта: <a href="mailto:info@rozariofl.ru">info@rozariofl.ru</a></p>
          </div>
          <div class='col-md-4 col-xs-12 copy visible-xs text-center'>© 2011-<%=Time.now.year %> «Розарио Доставка №1»</div>
          <div class='col-md-8 col-xs-12 addr visible-xs text-center' style='width:100%'>
            ОГРН 1115190005699
            <p>тел.: 8 (800) 250-64-70<br>эл. почта: <a href="mailto:info@rozariofl.ru">info@rozariofl.ru</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
