-# coding: utf-8
- error = @news.errors.include?(:title)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :title, :class => 'control-label'
  .controls
    =f.text_field :title, :class => 'input-xlarge input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:title, :class => 'text-error') : 'Заголовок'

- error = @news.errors.include?(:slug)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :slug, :class => 'control-label'
  .controls
    =f.text_field :slug, :class => 'input-xlarge input-with-feedback', :autofocus => true
    %span.help-inline=error ? f.error_message_on(:slug, :class => 'text-error') : 'URI (по-умолчанию транслитерация поля title, повторения недопустимы)'

- error = @news.errors.include?(:announce)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :announce, :class => 'control-label'
  .controls
    =f.text_area :announce, :class => 'input-xlarge input-with-feedback ckeditor'
    %span.help-inline=error ? f.error_message_on(:announce, :class => 'text-error') : 'Анонс'
- error = @news.errors.include?(:body)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :body, :class => 'control-label'
  .controls
    =f.text_area :body, :class => 'input-xlarge input-with-feedback ckeditor'
    %span.help-inline=error ? f.error_message_on(:body, :class => 'text-error') : 'Текст'
- error = @news.errors.include?(:image)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label :image, :class => 'control-label'
  .controls
    %span.btn.btn-file
      Загрузить
      =f.file_field :image, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:image, :class => 'text-error') : 'Изображение'
- error = @news.errors.include?(:alt)
%fieldset.control-group{:class => error ? 'has-error' : ''}
  =f.label "Alt", :class => 'control-label'
  .controls
    =f.text_field :alt, :class => 'input-xlarge input-with-feedback'
    %span.help-inline=error ? f.error_message_on(:alt, :class => 'text-error') : 'Тег alt для изображения'

=partial 'seo/seo_fields', locals: { f: f, data: @news, h1: false}

.form-actions
  =f.submit pat(:save), :class => 'btn btn-primary'
  &nbsp;
  =f.submit pat(:save_and_continue), :class => 'btn btn-info', :name => 'save_and_continue'
  &nbsp;
  =link_to pat(:cancel), url(:news, :index), :class => 'btn'
