- # encoding: utf-8

%div#crutch-indent{style:'height:80px'}

%h1{style:'font-size:20px'} Восстановление пароля

%p Пожалуйста, укажите адрес эл. почты, который использовался при регистрации.<br>На него Вам будет выслана инструкция для восстановления пароля.

= [:error, :warning, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type}") }.join.html_safe

- form_tag url(:sessions, :password_lost), :class=>'recovery form' do

  %fieldset.control-group
    %label.login-input-label.control-label{:for => :email}= pat('login.email')
    .login-controls.controls=email_field_tag :email, :value => params[:email], :autofocus => true, :required => "required"

  =submit_tag("Восстановить пароль", :class => 'btn btn-primary pull-right')