- # encoding: utf-8

%div#crutch-indent{style:'height:80px'}

%h1{style:'font-size:20px'} Восстановление пароля

%p На указанный Вами адрес было выслано письмо. Для восстановления пароля перейдите в почту и следуйте инструкциям в письме.<br>