- # encoding: utf-8

%div#crutch-indent{style:'height:80px'}

%h1{style:'font-size:20px'} Задайте новый пароль

- form_tag url(:sessions, :password_recover), :class=>'recover form' do

  = [:error, :warning, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type}") }.join.html_safe

  %fieldset.control-group
    %label.login-input-label.control-label{:for => :password}= pat('login.password')
    .login-controls.controls=password_field_tag "user_account[password]", :value => params[:password], :required => "required"

  %fieldset.control-group
    %label.login-input-label.control-label{:for => :password}= "Подтвердите пароль"
    .login-controls.controls=password_field_tag "user_account[password_confirmation]", :value => params[:password_confirmation], :required => "required"

  =hidden_field_tag :recovery_token, value: params[:token]

  =submit_tag("Сохранить", :class => 'btn btn-primary pull-right')
