- # encoding: utf-8
%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:smiles, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:smiles, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:smiles, :edit, :id => @smile.id)

.tabs-content
  -form_for :smile, url(:smiles, :update, :id => @smile.id), :method => :put, multipart: true, :class => 'form-horizontal' do |f|
    =partial 'smiles/form', :locals => { :f => f }
  
  -# Кнопка удаления вне основной формы
  - if @smile && @smile.id
    .form-actions{style: 'border-top: none; padding-top: 0;'}
      -# Используем тот же подход, что и в работающем списке /admin/smiles
      -# NOTE: При переходе на новые версии Padrino можно убрать Rack::MethodOverride
      -form_tag url(:smiles, :destroy, :id => @smile.id), :method => :delete, :style => 'display: inline;', :onsubmit => "return confirm('Вы уверены, что хотите удалить этот отзыв?')" do
        =submit_tag 'Удалить', :class => 'btn btn-danger'
