-# coding: utf-8

#precheckout

  .iboxr{style: "margin-left: 150px;"}
    =input_tag :radio, name: "q", value: "checkout-registered-user", id: "dch1"
    %label{for: "dch1", style: "cursor: pointer;"} Я уже зарегистрирован

  #checkout-registered-user.h.acch{style: "margin: 1em 0 2em;"}

    %h3 Вход
    .login-body.modal-body
      %fieldset.control-group
        %label.login-input-label.control-label{:for => :email}= pat('login.email')
        .login-controls.controls=email_field_tag :email, :value => params[:email], :autofocus => true, :required => "required"
      %fieldset.control-group
        %label.login-input-label.control-label{:for => :password}= pat('login.password')
        .login-controls.controls=password_field_tag :password, :value => params[:password], :required => "required"
    .login-footer.modal-footer
      =submit_tag(pat('login.sign_in'), :class => 'btn btn-primary')
      =link_to "Забыли пароль?", url(:sessions, :password_lost), style: "margin-left:12px;"
    =hidden_field_tag :redirect_url, :value => url(:cart, :checkout)
