- # encoding: utf-8
.thanks
  %h2 Спасибо!
  %h2 Ваш заказ успешно принят!
  %p В самое ближайшее время наш менеджер свяжется с Вами для уточнения деталей.
  %p Ваш заказ сохранён, вы всегда можете отследить его в <a href="/user_accounts/profile">личном кабинете</a>.
