/.git.*.bak/
.env
/public
/vendor/
/log/
/tmp/
*.bak
/README.md
# /app/controllers/payment.rb


# Исключаем вспомогательную директорию + из всех проверок (кроме README)
+/*
!+/README.md

# Тестовые файлы
test_*.rb
test_*.py
test_*.sh
*_test.*
*.tmp

# Логи и временные файлы
*.log
*.swp

# Конфигурационные файлы сканеров
# (оставляем в репозитории для CI/CD)
# .secretsignore
# .semgrepignore  
# .trivyignore
