- # encoding: utf-8
%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:albums, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:albums, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:albums, :edit, :id => @album.id)

.tabs-content
  -form_for :album, url(:albums, :update, :id => @album.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'albums/form', :locals => { :f => f }
