<fieldset class="control-group">
  <label for="price_standarts" class="control-label">Из стандартного?: </label>
  <div class="controls">
    <input type="hidden" name="price_from_standart" value="0">
    <input type="checkbox" name="price_from_standart" value="1" id="price_standarts" class="input-xlarge input-with-feedback">
    <span class="help-inline">Рассчитать цены из стандартного букета</span>
  </div>
</fieldset>
