

<div class="main info new-font" style="margin-left: 5%;margin-right: 5%;">
        <%# <h1 style="font-size: 20px;"><%=@seo[:h1].html_safe </h1> %>
    <p>Настоящий документ «Политика конфиденциальности» (далее – по тексту – «Политика») представляет собой правила использования персональной информации Пользователя.</p>

<h2>1. Общие положения</h2>

<p>1.1. Настоящая Политика является неотъемлемой частью Пользовательского соглашения (далее – «Соглашение»), размещенного и/или доступного в сети Интернет по адресу: <a href=""></a>, а также иных Договоров (Сделок), заключаемых с Пользователем или между Пользователями, когда это прямо предусмотрено их условиями.</p>

<p>1.2. Заключая Соглашение вы свободно, своей волей и в своих интересах даете бессрочное безотзывное письменное согласие на любые способы обработки своих персональных данных, включая любое действие (операцию) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, в том числе сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ) третьим лицам, в том числе трансграничную передачу на территорию иностранных государств, обезличивание, блокирование, удаление, уничтожение персональных данных в установленных настоящей Политикой целях.</p>

<p>1.3. К настоящей Политике, включая толкование ее положений и порядок принятия, исполнения, изменения и прекращения, подлежит применению законодательство Российской Федерации.</p>

<p>1.4. Здесь и далее в Политике используются термины и определения, предусмотренные Соглашением, а также иными заключаемыми с Пользователем Договорами или Сделками между Пользователями, если иное не предусмотрено настоящей Политикой или не вытекает из ее существа. В иных случаях толкование применяемого в Политике термина производится в соответствии с действующим законодательством Российской Федерации, обычаями делового оборота, или научной доктриной.</p>

<h2>2. Персональная информация</h2>

<p>2.1. Под персональной информацией в настоящей Политике понимается:</p>

<p>Информация, которую Пользователь предоставляет о себе самостоятельно при регистрации или авторизации, а также в процессе дальнейшего использования Сервиса, включая персональные данные Пользователя.</p>

<p>Данные, которые передаются в автоматическом режиме в зависимости от настроек программного обеспечения Пользователя, включая, но не ограничиваясь: IP-адрес, cookie, сети оператора связи, данные об используемом Пользователем программном обеспечении и оборудовании для работы в сети связи, включая Интернет, каналах связи, передаваемой и получаемой с использованием Сервиса информации и материалах. </p>

<p>2.2. Правообладатель не несет ответственность за порядок использования Персональной информации Пользователя третьими лицами, с которыми Пользователь взаимодействует в рамках использования Сервиса, в том числе при заключении и исполнении Сделок. </p>

<p>2.3. Пользователь осознает и принимает возможность размещения на страницах Сайта программного обеспечения третьих лиц, в результате чего такие лица могут получать указанные в п.2.1.2 обезличенные данные. </p>

<p>К указанному программному обеспечению третьих лиц среди прочего могут относиться:</p>

<ul>
  <li>системы по сбору статистики посещений (например, счетчики bigmir.net, Google Analytics и т.д.);</li>
  <li>социальные плагины (блоки) социальных сетей (например, Facebook и т.п.);</li>
  <li>системы баннеропоказов (например, AdRiver и т.п.);</li>
  <li>другие системы сбора обезличенной информации.</li>
</ul>

<p>Пользователь вправе самостоятельно ограничить сбор такой информации третьими лицами, используя стандартные настройки конфиденциальности применяемого им для работы с Сайтом интернет-браузера.</p>

<p>2.4. Правообладатель вправе устанавливать требования к составу Персональной информации Пользователя, которая должна обязательно предоставляться для использования Сервиса. Если определенная информация не помечена Правообладателем как обязательная, ее предоставление или раскрытие осуществляется Пользователем на свое усмотрение.</p>

<p>2.5. Правообладатель не осуществляет проверку достоверности предоставляемой Персональной информации, полагая, что Пользователь действует добросовестно, осмотрительно и прилагает все необходимые усилия к поддержанию такой информации в актуальном состоянии.</p>

<h2>3. Цели обработки Персональной информации</h2>

<p>3.1. Правообладатель осуществляет обработку, в том числе сбор и хранение только той Персональной информации, которая необходима для заключения и исполнения Договоров/Сделок с Пользователями и/или между ними.</p>

<p>3.2. Правообладатель и/или Пользователи вправе использовать Персональную информацию в частности в следующих целях: </p>

<ul>
  <li>Заключение Договоров с использованием Сервиса, в том числе Сделок с Пользователями;</li>
  <li>Исполнение обязательств по заключенным Договорам и/или Сделкам;</li>
  <li>Идентификация Пользователя в рамках исполнения обязательств по заключенным с ним Договорам и/или Сделкам;</li>
  <li>Обеспечение связи с Пользователем в рамках информационного обслуживания и улучшения качества Сервиса;</li>
  <li>Нотификации в рамках заключенных Договоров и/или Сделок, в том числе с привлечением третьих лиц;</li>
  <li>Проведение маркетинговых, статистических и иных исследований на основе обезличенных данных.</li>
</ul>

<h2>4. Требования к защите Персональной информации</h2>

<p>4.1. Правообладатель осуществляет хранение Персональной информации и обеспечивает ее охрану от несанкционированного доступа и распространения в соответствии с внутренними правилами и регламентами. </p>

<p>4.2. В отношении Персональной информации Пользователя сохраняется ее конфиденциальность, за исключением случаев, когда технология предоставляемого Сервиса или настройки используемого Пользователем программного обеспечения предусматривают открытый обмен информацией с иными участниками и пользователями сети Интернет. </p>

<p>4.3. В целях повышения качества Сервиса, Правообладатель вправе хранить лог-файлы о действиях, совершенных Пользователем в рамках использования Сервиса, а также в связи с заключением и исполнением Пользователем Соглашения и иных договоров со своей стороны, в течение 5 лет.</p>

<p>4.4. Положения п.4.1. и 4.2. в равной мере распространяется на Пользователей, получивших доступ к Персональным данным иных Пользователей в связи с заключением и/или исполнением Сделок меду ними.</p>

<h2>5. Передача информации</h2>

<p>5.1. Правообладатель вправе передать Персональную информацию третьим лицам в следующих случаях: </p>

<ul>
  <li>Пользователь выразил свое согласие на такие действия, включая случаи применения Пользователем настроек используемого программного обеспечения, не ограничивающих предоставление определенной информации;</li>
  <li>Передача необходима в рамках использования Пользователем функциональных возможностей Сервиса;</li>
  <li>Передача требуется для заключения и исполнения Договоров и/или Сделок с использованием Сервиса;</li>
  <li>По запросу суда или иного уполномоченного государственного органа в рамках установленной законодательством процедуры;</li>
  <li>Для защиты прав и законных интересов Правообладателя в связи с нарушением заключенных Пользователем договоров.</li>
</ul>

<h2>6. Изменение Политики конфиденциальности</h2>

<p>6.1. Настоящая Политика может быть изменена или прекращена Правообладателем в одностороннем порядке без предварительного уведомления Пользователя. Новая редакция Политики вступает в силу с момента ее размещения на Сайте Правообладателя, если иное не предусмотрено новой редакцией Политики. </p>

<p>6.2. Действующая редакция Политики находится на Сайте Правообладателя в сети Интернет по адресу <a href=""></a>.</p></div>

<style> .feedback { display: block; }; </style>
<style> .smiles { display: block; }; </style>