- # encoding: utf-8
%link{:charset => "utf-8", :href => "/stylesheets/accordion.css", :media => "screen", :rel => "stylesheet"}/
%script{:src => "/javascripts/accordion.js", :type => "text/javascript"}
.page
  .body!= erb :'/page/predopl1'
