<!DOCTYPE html><html><head>
  <meta charset="utf-8" />
  <title>test</title>
  <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <style type="text/css">
    body { background: url('/images/horizon-wide.jpg'); background-size: cover; padding: 48px; background-attachment: fixed; }
    main { margin: 0 auto; max-width: 1280px; min-height: 600px; padding: 24px; background: rgba(0,0,0,0.75); color: #FFF; border-radius: 12px; }
    main section { padding: 24px; border: 1px solid #FFF; font-family: monospace; }
    code { border: 1px solid red; padding: 2px; }
    code.clipboard { cursor: pointer; }
  </style>
</head><body class="animated fadeIn"><main class="animated bounceInDown">

  <section>
    <h1>ERROR</h1>
    <p>Run <code id="ID73809970" class="clipboard" data-clipboard-target="#ID73809970">grep -r <%=@area_id%></code> in application directory to find the problem area of the code</p>
    <script>new Clipboard('.clipboard');</script>
  </section>


</main></body></html>