<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vue.js wrapper component example (jquery plugin: select2)</title>
    <!-- Delete ".min" for console warnings in development -->
    <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vuetify@1.2.5/dist/vuetify.min.js"></script>
    <script src="https://unpkg.com/jquery"></script>
    <%#<script src="https://unpkg.com/select2@4.0.3"></script>%>
    <%#<link href="https://unpkg.com/select2@4.0.3/dist/css/select2.min.css" rel="stylesheet" />%>
    <style>
      html, body {
        font: 13px/18px sans-serif;
      }
      select {
        min-width: 300px;
      }
    </style>
  </head>
  <body>

  </body>
</html>
