- # encoding: utf-8
%ul.nav.nav-tabs
  %li.active=link_to tag_icon(:list, pat(:list)), url(:'menus_on_main/leftmenus', :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:'menus_on_main/leftmenus', :new)

.tabs-content
  %table#list.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th.header.list-menu
          .dropdown
            %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
              =tag_icon :magic
              %span.caret
            %ul.list-menu.dropdown-menu{:role => :menu}
              %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
              %li.list-menu-divider.divider
              %li.list-menu-wrapper.list-menu-wrapper-disabled
                =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
                .list-menu-popover-delete-selected.popover.right
                  .arrow
                  %h3.popover-title=pat(:delete_selected_title)
                  .popover-content
                    -form_tag url(:'menus_on_main/leftmenus', :destroy_many), :method => :delete do
                      =hidden_field_tag :leftmenu_ids, :'data-delete-many-ids' => true
                      =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                      .btn.btn-small.cancel=pat(:cancel)
        %th.header= :id
        %th.header= :title
        %th.header Используется по умолчанию
        %th.header.list-row-action-header

    %tbody
      -@leftmenus.each do |leftmenu|
        %tr.list-row
          %td.list-column.list-selectable
            =check_box_tag 'leftmenu_ids[]', :value => leftmenu.id, :class => 'list-selectable-checkbox'
          %td.list-column=leftmenu.id
          %td.list-column=leftmenu.title
          %td.list-column=leftmenu.default
          %td.list-column.list-row-action
            .list-row-action-wrapper
              =link_to tag_icon(:edit), :href => url(:'menus_on_main/leftmenus', :edit, :id => leftmenu.id), :rel => :tooltip, :title => "#{pat(:edit)} leftmenu", :class => 'list-row-action-wrapper-link'
              =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} leftmenu", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
              .popover.list-row-action-popover-delete-one.left
                .arrow
                %h3.popover-title=pat(:delete, :model => "leftmenu")
                .popover-content
                  -form_tag url(:'menus_on_main/leftmenus', :destroy, :id => leftmenu.id), :method => :delete do
                    =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
