- # encoding: utf-8

%h2 Зарегистрированные пользователи

%div{style: "text-align:right;"}
  =link_to "Выгрузить адреса эл. почты", url(:clients, :export_emails)


%table#list.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th.header.list-menu
        .dropdown
          %a.list-menu-toggle.dropdown-toggle{:href => '#', :'data-toggle' => :dropdown}
            =tag_icon :magic
            %span.caret
          %ul.list-menu.dropdown-menu{:role => :menu}
            %li.list-menu-wrapper=link_to tag_icon(:check, pat(:select_all)), '#', :id => 'select-all', :class => 'list-menu-link'
            %li.list-menu-wrapper.list-menu-wrapper-disabled
              =link_to tag_icon(:'check-empty', pat(:deselect_all)), '#', :id => 'deselect-all', :class => 'list-menu-link list-menu-link-disabled'
            %li.list-menu-divider.divider
            %li.list-menu-wrapper.list-menu-wrapper-disabled
              =link_to tag_icon(:trash, pat(:delete_selected)), '#', :id => 'delete-selected', :class => 'list-menu-link list-menu-link-disabled'
              .list-menu-popover-delete-selected.popover.right
                .arrow
                %h3.popover-title=pat(:delete_selected_title)
                .popover-content
                  -form_tag url(:clients, :destroy_many), :method => :delete do
                    =hidden_field_tag :client_ids, :'data-delete-many-ids' => true
                    =submit_tag pat(:delete), :class =>'list-menu-popover-delete-selected-btn btn btn-danger btn-small'
                    .btn.btn-small.cancel=pat(:cancel)
      %th.header id
      %th.header Ф.И.О.
      %th.header Эл. почта
      %th.header Телефон
      %th.header Номер дисконтной карты
      %th.header Создано
      %th.header.list-row-action-header

  %tbody
    -@clients.each do |client|
      %tr.list-row
        %td.list-column.list-selectable
          =check_box_tag 'client_ids[]', :value => client.id, :class => 'list-selectable-checkbox'
        %td.list-column=client.id
        %td.list-column
          %strong=client.surname
        %td.list-column=client.email
        %td.list-column=client.tel
        %td.list-column=client.discount_code
        %td.list-column=client.created_at.in_time_zone.strftime("%d.%m.%Y, %H:%M")
        %td.list-column.list-row-action
          .list-row-action-wrapper
            =link_to tag_icon(:edit), :href => url(:clients, :edit, :id => client.id), :rel => :tooltip, :title => "#{pat(:edit)} client", :class => 'list-row-action-wrapper-link'
            =link_to tag_icon(:trash), :rel => :tooltip, :title => "#{pat(:delete)} client", :class => 'list-row-action-delete-one list-row-action-wrapper-link'
            .popover.list-row-action-popover-delete-one.left
              .arrow
              %h3.popover-title=pat(:delete, :model => "client")
              .popover-content
                -form_tag url(:clients, :destroy, :id => client.id), :method => :delete do
                  =submit_tag pat(:delete), :class =>'list-row-action-popover-delete-one-btn btn btn-danger btn-small'
                  .btn.btn-small.cancel=pat(:cancel)
!=will_paginate @clients