- # encoding: utf-8
=partial 'seo/tabs', :locals => {:entity => :patterns, :action => :edit}

.tabs-content
  -form_for :pattern, url(:'seo/patterns', :update, :id => @pattern.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'seo/patterns/form', :locals => { :f => f }
