- # encoding: utf-8

%div.hidden-xs.hidden-sm{style:"height: 88px"}

%h2.tttl{ :style => 'color: black;' } Статьи о цветах
#news-list= partial 'news/news', :collection => @news

<style>@media only screen and (max-width: 992px) {.delivery-lg {display: none !important;} h2.tttl {margin: 24px 0 !important;}}</style>
