- # encoding: utf-8
%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:slideshows, :index)
  %li.active=link_to tag_icon(:plus, pat(:new)), url(:slideshows, :new)

.tabs-content
  -form_for :slideshow, url(:slideshows, :create), multipart: true, :class => 'form-horizontal' do |f|
    =partial 'slideshows/form', :locals => { :f => f, :slideshows =>  @slideshows }
