- # encoding: utf-8
=partial 'seo/tabs', :locals => {:entity => :subdomains, :action => :edit}

.tabs-content
  -form_for :subdomain, url(:'seo/subdomains', :update, :id => @subdomain.id), :method => :put, multipart: true, :class => 'form-horizontal' do |f|
    =partial 'seo/subdomains/form', :locals => { :f => f }
