- # encoding: utf-8
%ul.nav.nav-tabs
  %li=link_to tag_icon(:list, pat(:list)), url(:categorygroups, :index)
  %li=link_to tag_icon(:plus, pat(:new)), url(:categorygroups, :new)
  %li.active=link_to tag_icon(:edit, pat(:edit)), url(:categorygroups, :edit, :id => @categorygroup.id)

.tabs-content
  -form_for :categorygroup, url(:categorygroups, :update, :id => @categorygroup.id), :method => :put, :class => 'form-horizontal' do |f|
    =partial 'categorygroups/form', :locals => { :f => f }
