.col-md-12.col-sm-12.col-xs-12.ctlg-menu{style:'display:none'}
  .row
    .col-md-6.col-sm-6.col-xs-12.menu_item.visible-sm.visible-xs
      %a{ href: "/" } Все букеты
    .col-md-6.col-sm-6.col-xs-12.menu_item.visible-sm.visible-xs
      %a{ href: "/category/korziny-s-tsvetami/" } Коробки с цветами
    .col-md-6.col-sm-6.col-xs-12.menu_item.visible-sm.visible-xs
      %a{ href: "/category/korziny-s-tsvetami/" } Коробки с цветами
    .col-md-6.col-sm-6.col-xs-12.menu_item.visible-sm.visible-xs
      %a{ href: "/category/101-roza/" } Букеты из 101 розы
